.HomePage{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    .LeftMenu{
        color:#505050!important;
        height: 100%;
        width:16rem;
        border-right: 1px solid #EAEAEA;
        box-sizing: border-box;
        box-shadow: 1px 0 4px 0 rgba(0, 0, 0, 0.2);
        .ant-menu-submenu-title{
            color:#505050;
            &:hover{
                color:#505050!important;
            }
        }
        .ant-menu-item-active{
            color:#505050;
            &:hover{
                color:#505050;
            }
        }
        .ant-menu-item-selected{
            background-color: #EAEAEA!important;
            color:#505050;
            &:after{
                border-right:3px solid #808080;
            }
        }
        ul{
            width: 100%!important;
            border: 0;
        }
        li{
            border-top: 1px solid #EAEAEA;
            border-left:1px solid #EAEAEA;
        }
    }
    .TabsList{
        width:100%;
        height:100%;
        .ant-tabs-nav-wrap{
            .ant-tabs-tab:nth-child(1){
                margin-left: 4rem;
            }
            .ant-tabs-tab{
                // border: 1px solid red;
            }
        }
    }

    .content{
        width: 100%;
        height: 100%;
        overflow: hidden;
        // display: flex;
        padding: 0 2rem;
    }
}